@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

* {
    margin: 0;
    padding: 0;
    font-family: 'Digital-7', sans-serif;
    font-size: 25px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: center;
    background-image: url("./img/bg.jpg");
    background-size: 100%;
}

table {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-spacing: 8px;

}

td, th {
    padding: 5px;
}

.cell button {
    width: 100%;
    height: 100%;
    padding: 20px 15PX;
    margin: 0;
    color: #6ad9e7;
    background-color: rgba(119, 119, 119, 0.877);
    border: 1px solid #0000008e;
    border-radius: 12px;
}

.container {
        margin-top: 200px;
        /* background-color: #73abec; */
        padding: 15px;
        border: 1px solid #292929;
        border-radius: 20px;
        display: fixed;
        box-shadow: 0 4px 8px 0 rgb(110 208 255 / 20%), 0 6px 20px 0 rgba(110, 209, 255, 0.493);
        background-image: url("./img/metal.jpg");
}

#display {
    height: 70px;
    width: 97%;
    margin-left: 4px;
    margin-top: 10px;
    border: 2px solid rgba(88, 88, 88, 0.767);
    border-radius: 10px;
    box-shadow: 10px;
    margin-bottom: 10px;
    background-color: #000000ce;
    color: cornflowerblue;
    text-align: right;
    font-size: 40px;
    padding-right: 10px;
}

.cell button:hover {
    background-color: rgb(128, 128, 128);
    color: #ffffff;
}

.cell button:active {
    /* border: 1px solid #000; */
    transform: translateY(1px);
    box-shadow: 0 3px 10px rgba(206, 245, 255, 0.2);
}

.equal-btn button {
    background-color: rgb(224, 116, 116);
    color: #fff;

}

.equal-btn button:hover {
    background-color: rgb(233, 107, 107);
}